.card {
    cursor: pointer;
}

.card:hover {
    animation: giggle 2s ease-in-out alternate;
}

@keyframes giggle {
    0% {
        transform: translateX(200);
    }

    50% {
        scale: 1.1;
        background-image: linear-gradient(to right, rgba(200, 150, 200, 0.5), rgba(255, 190, 255));
    }

    100% {
        transform: translateX(-200);
        background-image: linear-gradient(to right, rgba(200, 150, 200, 0.5), rgba(255, 190, 255));
    }

}