.table-card {
    max-width: fit-content;
}
.header-frame{
    background-image: linear-gradient(-45deg,  #537895, #09203f);
    color: white;
}
.tab-menu {
    .p-menuitem-link {
        font-weight: 400 !important;
        font-size: 14px !important;
        &:not(.p-disabled){
            &:focus {
                box-shadow: none !important;
            }
        }
    }
}
.p-column-filter-row .p-column-filter-element {
    width: 100% !important;
}
.p-fluid .p-inputtext {
    width: 100%;
    height: 40px !important;
}
.p-column-filter-row .p-column-filter-menu-button, .p-column-filter-row .p-column-filter-clear-button {
    color: white !important;
    width: 45px !important;
    height: 30px !important;
    //margin-left: 1.5rem;
    border: 1px solid #eeeeee !important;
    padding: 0.35rem !important;
}
.p-datatable {
    .p-sortable-column{
        &:focus{
            box-shadow: none !important;
            border: 1px dashed #fff !important;
        }
        .p-sortable-column-icon{
            color: #fff !important;
            &.p-highlight {
                .p-sortable-column-icon{
                    color: #fff !important;
                }
            }
        }

    }

    div.p-datatable-wrapper {
        table.p-datatable-table{
            thead.p-datatable-thead{
                tr {
                    th{
                        background: #23547c !important;
                        color: #fff !important;
                        .p-column-header-content{
                            justify-content: center !important;
                            span {
                                font-size: 15px !important;
                                color: #fff !important;
                            }
                        }
                        &:first-child {
                            border-top-left-radius: 5px;
                            .p-column-header-content{
                                justify-content: flex-start !important;
                            }
                        }
                        &:last-child {
                            border-top-right-radius: 5px;
                            .p-column-header-content{
                                justify-content: flex-end !important;
                            }
                    }
                    }
                }
            }
            tbody{
                tr{
                    td{
                        text-align: center !important;
                        font-size: 15px;
                        &:first-child {
                            text-align: left !important;
                        }
                    }
                }
            }
        }
    }
}
