.btn-comp {
    background-image: linear-gradient(to right, #03264faa, #052F5F);
}

.btn-comp:hover,
.btn-comp:focus {
    background-image: linear-gradient(to right, #F1A208, #052F5F);
    scale: 1.02;
    transition: 2s ease-in-out all;
}
