aside {
  background-image: linear-gradient(-45deg,  #537895, #09203f);
  color: white;
}

#dropdown{
  .p-menuitem{
    font-size: 15px !important;
  &:last-child{
    .p-menuitem-text, .p-menuitem-icon{
      color: red !important;
    }
  }
}
}

