.register-title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    color: #052F5F;
    margin-bottom: 1rem;
}

.welcome-container {
    background: linear-gradient(180deg, #005377 0%, #052F5F 100%);

    .welcome-main-text {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 2rem;
        color: #F1A208;
    }
}

.signup-section {
    background-color: white;
    color: black;
}