//core
@import "primereact/resources/primereact.min.css";
@import "primereact/resources/themes/tailwind-light/theme.css";

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6, button, {
  font-family: 'Poppins', sans-serif;
}
.p-dialog-header {
  //border-bottom: 1px solid #ccc !important;
}
.p-dialog-content {
  //padding: 1.5rem 1.5rem !important;
}
.bg-primary{
  background: linear-gradient(-45deg,  #537895, #09203f);
}
