@tailwind base;
@tailwind components;
@tailwind utilities;

$primary: #052F5F;
$secondary: #F1A208;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.active {
  color: #F1A208;
  border-left: 4px solid #F1A208;
  background: #fff;
}

.add-form-submit-btn {
  @apply flex flex-col justify-center items-center mt-4;
}
